.projects-page {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 20px;
}

.projects-title {
  text-align: center;
  margin-bottom: 20px;
}

.card-of-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-title {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
}

.card-of-projects img {
  width: 320px;
  height: 200px;
  border-radius: 5px;
}

.card {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7px;
}

.details button {
  background-color: transparent;
  border: none;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 400;
  background-color: rgb(31, 31, 31);
  padding: 5px;
  color: white;
  cursor: pointer;
}

.details h4 {
  color: black;
}

@media (min-width: 320px) and (max-width: 480px) {
  .projects-page {
    width: 100%;
    margin: auto;
  }

  .card-of-projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
  }

  .card-of-projects img {
    width: 360px;
    height: 280px;
  }

  .card-of-projects h5 {
    font-size: 12px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .projects-page {
    width: 100%;
    margin: auto;
  }

  .card-of-projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
  }

  .card-of-projects img {
    width: 560px;
    height: 380px;
  }

  .card-of-projects h5 {
    font-size: 17px;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .projects-page {
    width: 100%;
    margin: auto;
  }

  .card-of-projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
  }

  .card-of-projects img {
    width: 560px;
    height: 380px;
  }

  .card-of-projects h5 {
    font-size: 17px;
  }
}

/* Slide-in animation */
.project-details {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px; /* Adjust width as needed */
  background-color: white;
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.project-details.visible {
  transform: translateX(0);
}
