.contact{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 50%;
    margin: auto;
}


.email-social{
    width: 50%;
    margin: auto;
    padding: 20px;
}

.email-social h2 {
    padding: 10px;
}

.email-social form {
    padding: 20px;
    font-size: 34px;
}

.email-social form input{
    padding: 8px 30px;
    width: 90%;
    border-bottom: 1px solid rgb(126, 126, 126);
    border-right: 0;
    border-top: 0;
    border-left: 0;
}

.email-social form textarea{
    padding: 10px;
    width: 100%;
    border: 1px solid rgb(126, 126, 126);
}
.email-social .contact-button{
    padding: 7px 40px;
    background-color: rgb(126, 126, 126);
    color: white;
    border: 0;
    cursor: pointer;
}


@media (min-width: 320px) and (max-width: 480px){
    .contact{
        width: 100%;
        margin: auto;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    .contact{
        width: 100%;
        margin: auto;
        padding: 15px;
    }
}

@media (min-width:1025px) and (max-width:1200px){
    .contact{
        width: 100%;
        margin: auto;
        padding: 20px;
    }
}